streamlit
pandas
langchain
langchain-core
langchain-community
langchain-chroma
langchain-google-genai
langgraph
langchain-huggingface
googletrans
python-dotenv
sentence-transformers
chromadb
langdetect

